/* layout */
*{
    padding:0;
    margin:0;
}
div a{
    color:#f00;
}

html,body{
    font-family:sans-serif;
    font-size:small;
    text-align:center;
}

div.container{
    margin:0 auto;
    width:900px;
    text-align:left;
}
div.header{
    position:relative;
    height:75px;
}
div.header h1{
    position:absolute;
    left:0;
    bottom:5px;
    color:#f00;
}
ul.top-menu{
    width:100%;
    background-color:#FF8900;
    line-height:25px;
    text-align:right;
    
}
ul.top-menu li{
    display:inline;
    padding-right:3em; 
}
ul.top-menu li a{
    text-decoration:none;
    font-weight:bold;
    color:#fff;
}
div.body{
    position:relative;
}
div.sidebar{
    margin-top:40px;
    margin-bottom:40px;
    float:left;
    width:180px;
    border-bottom:1px solid #FF8900;
}
div.sidebar h3{
    line-height:25px;
    font-size:small;
    color:#fff;
    margin-bottom:7px;
    text-align:center;
    text-transform:capitalize;
    background:url(../images/bg_thead.png);
}
div.sidebar ul{
    
}
div.sidebar li{
    list-style:square;
    margin-left:20px;
    margin-bottom:7px;
    color:#f00;
}
div.content{
    float:right;
    margin-left:20px;
    margin-bottom:40px;
    width:700px;
}
div.content h2{
    font-weight:normal;
    margin:20px auto 10px 0;
    font-style:italic;
}



div.footer{
    clear:both;
    border-top:1px solid #FF8900;
    text-align:right;
    margin-top:20px;
}

/* Table */
table a{
    color:#f00;
}
table.data{
    width:100%;
    font-size:small;
    margin:0 auto;
}
thead {
    
}
table.data th{
    padding:5px;
    background:url(../images/bg_thead.png);
}
table.data tr.even {
    background:#ffffcc;
}
table.data td{
    padding:3px 0;
}
table.data a{
    color:#f00;
}
table.form{
    
}
table.form th{
    text-align:right;
    padding-right:1em;
    font-size:small;
    font-style:italic;
    vertical-align:top;
    text-transform:capitalize;
}
table.form label.label-for-radio{
    font-size:small;
    font-style:italic;
    padding-left:1em;
}
table.form textarea{
    width:100%;
}
table.form td{
    
}